* {
    margin: 0px;
    padding: 0px;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 150px;
    margin-top: 18px;
}

#cabeçalho {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: #303030;
    justify-content: space-between;
    
}

#cabeçalho div { 
    margin-left: 50px;
}

#cabeçalho div a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

#cabeçalho div a:hover{
    color: #ec0062;
}

#cabeçalho nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin-right: 50px;
    font-size: 18px;

}

#cabeçalho nav ul li a {
    text-decoration: none;
    color: white;
}

#cabeçalho nav ul li a:hover {
    color: #ec0062;
}